.budget-feedback,
.expense-feedback {
    display: none;
}

/* added & shows budget feedback when input is entered */
.showItem {
    display: block;
}

.budget-form{
    height: 150px;
}
.balance-container{
    width: 100%;
    height: 200px;
    float: left;
    padding-left: 10%;
    margin: auto;
    background-color: black;
    color: white;
}
.user-budget {
    float: left;
    width: 20%;
    text-align: center;
    padding: 20px;
}
.user-balance {
    float: left;
    width: 20%;
    text-align: center;
    padding: 20px;
}

.user-expense {
    float: left;
    width: 20%;
    text-align: center;
    padding: 20px;
}

.expense-form{
    padding-top: 250px;
    width: fit-content;
}

#expense-title{
    padding-top: 50px;
    float: left;
    width: 50%;
}

#expense-value{
    padding-top: 50px;
    float: left;
    width: 50%;
}