.budget-feedback,
.expense-feedback {
    display: none;
}

/* added & shows budget feedback when input is entered */
.showItem {
    display: block;
}

/* Title */
h1 {
    text-align: center;
}

.container{
    height: 200px;
}

.balance-container{
    width: 100%;
    height: 200px;
    float: left;
    padding-left: 10%;
    margin: auto;
    background-color: black;
    color: white;
}
.user-budget {
    float: left;
    width: 20%;
    text-align: center;
    padding: 20px;
}
.user-balance {
    float: left;
    width: 20%;
    text-align: center;
    padding: 20px;
}

.user-expense {
    float: left;
    width: 20%;
    text-align: center;
    padding: 20px;
}


.budget-form {
    float: left;
    height: 150px;
    width:50%;
}


.expense-form{
    width: 50%;
    height: 150px;
    float: right;

}

#expense-title{
    padding-top: 100px;
    float: left;
    width: 50%;
}

#expense-value{
    padding-top: 100px;
    float: left;
    width: 50%;
}



.topnav {
    background-color: black;
    overflow: hidden;
  }
/* Style  links inside nav bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    /* removes underline for links */
    text-decoration: none;
    font-size: 18px;
  }
  
  /* changing color of links on hover */
  .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
  
    /* adding color to current link */
  .topnav a.active {
      background-color: #4CAF50;
      color: white;
    }
  